.card {
    margin: 10px;
    width: 50%; 
    height: auto;
}
.form-label {
    margin-top:8px;
}
#dollar-sign {
    width: 10px;
    margin-top: 45px;
    margin-left: 45px;
}
.fa-brands {
    font-size: 2em;
    padding: 5px;
}
#flexRadioDefault1 {
    margin-top: 12px;

}
#flexRadioDefault2 {
    margin-top: 12px;
}
#flexRadioDefault3 {
    margin-top: 12px;
}
#flexRadioDefault4 {
    margin-top: 12px;
}
.form-check {
    padding:12px;
}